@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: radial-gradient(circle at 5% 25%, rgba(0, 214, 108, 1) 0%, rgba(255, 165, 0, 1) 100%);
  --gradient-bar: radial-gradient(circle at 5% 25%, rgba(0, 214, 108, 1) 0%, rgba(255, 165, 0, 1) 100%);
  --color-bg: #ffffff;
  --color-footer : #F5F5F5;
  --color-blog: #F5F5F5;
  --color-text: #555555;
  --color-subtext: #555555;
  --color-green: #00D66C;
  --color-white: #555555;
  --color-heading: #000000;  
}